$black: #101710;

#main-window {
  display: grid;
  place-items: center;
}
#quote-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 25vw;
  min-height: 10vh;
  text-align: center;
  font-size: 15px;
  border: $black solid 3px;
}

#new-quote{
  margin-right: 1vw;
}
